* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #000000fd;
}

.title {
    text-align: center;
    margin: 20px 0;
    color: #fff;
}

#data__section {
    margin: 40px;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}


img {
    width: 300px;
    height: 320px;
    margin-top: 12px;
    transition: all 300ms ease;
    border-radius: 50%;
}

img:hover {
    transform: scale(1.03);
}

.names {
    color: #fff;
    margin-top: 16px;
}

.name {
    margin-bottom: 14px;
    font-size: 20px;
    color: #fff;
}

.name2 {
    margin-bottom: 14px;
    font-size: 20px;
    color: #fff;
}

.time {
    color: #fff;
    margin-top: 12px;
}



.data__section--div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    padding: 0 18px;
}

button {
    background-color: green;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

@media(max-width: 550px) {
    #data__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data__section--div {
        display: flex;
        flex-direction: column;
    }

    .name2 {
        width: 100%;
    }

    .track {
        margin: 12px 0;
    }
}